{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <body class="bodyPageFormation">
    <p>Cours</p>
    <p>Langages</p>
    <article>
        {% for cour in cours %}
            <section class="cadreFormation">
                <div class="cadreCouleur">
                    <img src="{{ asset("images/" ~ cour.imageCour) }}">
                </div>                
                <div class="cadreDroite">
                    <p class="coursCadre">COURS</p>
                    <p>{{ cour.titreCour }}</p> 
                    <div class="niveauTemps">                   
                        <img src="{{asset ('images/niveau.png')}}">                        
                        <p>{{ cour.courNiveau }}</p>
                        <img src="{{asset ('images/horloge.png')}}">                       
                        <p>{{ cour.tempsEstimeCour }} heures</p>
                    </div>
                    <p>Synopsis</p>
                    <p>{{ cour.synopsisCour }}</p>
                </div>
            </section>
        {% endfor %}
    </article>
    </body>
    {% endblock %}